<!-- <h1>Hola Mundo</h1>
{{title}}
{{usuario.nombre}}

<button (click)=saludar()>{{title}}</button>
<input type="text" value="" [(ngModel)]=title >
<input type="text" value="" [(ngModel)]=usuario.nombre > -->

<h1>Ejercicio 1</h1>

<div class="inputs-container margin-1rem">
    <label for="edadUno">
        Primer Edad:    
        <input
            type="number"
            name="edadUno"
            id="txt-edad-uno"
            [(ngModel)]=edadUno>
    </label>
    <label for="edaDos">
        Segunda Edad:    
        <input 
            type="number" 
            name="edadDos" 
            id="txt-edad-dos"
            [(ngModel)]=edadDos>
    </label>
</div>

<div class="inputs-container margin-1rem">
    <label for="promedio">
        Promedio:
        <input 
            type="number" 
            name="promedio" 
            id="promedio"
            [(ngModel)]=promedio>
    </label>
    <label for="suma">
        <input 
            type="number"
            name="suma"
            id="suma"
            [(ngModel)]=suma>
    </label>
</div>

<div class="btns-container margin-1rem">
    <button (click)=onClickCalcular()>Calcular</button>
    <button (click)=onClickLimpiar()>Limpiar Cuadros De Texto</button>
</div>